h1 {
    color: blueviolet;
    text-decoration: underline;
    font-size: xx-large;
}

h2 {
    color: chocolate;
    text-decoration: teal overline;
}

.text-decoration {
    text-decoration: teal underline;
}

.vib {
    border: 5px solid red;
    border-radius: 15px;
    margin: 50px;
    padding: 5px;
    text-align: center;
}